@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer. Student. Mildly and equally obsessed with the capacity of technology to change the world and the joy of making computers tell us jokes. I know C#, ASP.Net, Node, Angular2 and JS. I care a lot about well-structured code. Also available for children's birthdays and company retreats (tots and execs love learning about MVC frameworks!).</p>
