@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ol>
        @foreach (var repository in Model)
        {
            <li>
                <ul>
                    <li>@repository.name </li>
                    <li>@repository.html_url</li>
                    <li>@repository.description</li>
                    <li>@repository.stargazer_count</li>
                </ul>
            </li>
        }
    </ol>
</div>